/*[class*="col-"] {
	border: 1px solid black;
}
*/

html {
	font-size: 10px;
}

h5 {
	font-size: 3rem;
	margin: 35px 0 20px 0;
}

.va-center {
	vertical-align: middle;
	float: none;
	display: inline-block;
}

header img {
	max-width: 150px;
	height: auto;
}

header ul {
	width: 70%;
	float: right;
}

header .jumbotron {
	padding: 25px 0;
}

table td:first-child {
	text-align: left;
}

th, td {
	width: 33%;
}

tr {
	border-bottom: 2px solid white;
}

.table-responsive table {
	margin: 0;
}

.table-responsive ul {
	margin-bottom: 0;
}

form button {
	margin: 0 10px;
}

footer .jumbotron {
	margin: 30px 0 0 0;
	padding: 20px 0;
}

footer .jumbotron p {
	margin: 0;
	font-size: 15px;
}